<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order\Handler\State">
        <plugin name="cenaviceOrderHandlerState" type="Cenavice\Order\Plugin\Model\ResourceModel\Order\Handler\State" sortOrder="1" disabled="false" />
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cenavice_order_create_bonus_order" xsi:type="object">Cenavice\Order\Console\Command\CreateBonusOrder</item>
            </argument>
        </arguments>
    </type>
</config>