<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cenavice" translate="label" sortOrder="10">
            <label>Cenavice</label>
        </tab>
        <section id="cenavice_order" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order</label>
            <tab>cenavice</tab>
            <resource>Cenavice_Order::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="bonus_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bonus Order</label>
                <field id="bonus_order_item_qty" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Bonus Order Item Quantity</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>